<div class="flyntComponent themeDark2" is="flynt-specials-slider">
  <script type="application/json">{{ jsonData|json_encode }}</script>
  <div data-slider class="slider swiper-container">
    <div class="swiper-wrapper">
      {% for special in specials %}
      {% set notFirstSlide = loop.index > 1 %}
      <div class="swiper-slide">
        <picture class="picture">
          <source {{ notFirstSlide ? 'data-' }}srcset="
            {{ special.images.imageDesktop.src | resizeDynamic(2560, 640, 'center') }} 2560w,
            {{ special.images.imageDesktop.src | resizeDynamic(2048, 640, 'center') }} 2048w,
            {{ special.images.imageDesktop.src | resizeDynamic(1440, 640, 'center') }} 1440w,
            {{ special.images.imageDesktop.src | resizeDynamic(900, 640, 'center') }} 900w,
            {{ special.images.imageDesktop.src | resizeDynamic(768, 640, 'center') }} 768w"
          data-aspectratio="{{ 768 / 640 }}"
          media="(min-width: 768px)"
          sizes="100vw">
          {% set mobileImage = slide.images.imageMobile ? slide.images.imageMobile : slide.images.imageDesktop %}
          <img class="picture-imageEl {{ slide.images.mobileAlignImage }} {{ slide.images.desktopAlignImage }} {{ notFirstSlide ? 'lazyload' }}" {{ notFirstSlide ? 'data-' }}srcset="
            {{ mobileImage.src| resizeDynamic(375, 420) }} 375w,
            {{ mobileImage.src | resizeDynamic(750, 840) }} 750w"
          src="{{ mobileImage.src | resizeDynamic(375, 420) }}"
          data-aspectratio="{{ 375 / 420 }}"
          {{ notFirstSlide ? 'srcset="' ~ placeholderImage(25, 28) ~ '"' }}
          sizes="100vw"
          alt="{{ special.images.imageDesktop.alt|e }}">
        </picture>
        {% if special.contentHtml %}
          <div class="container">
            <div class="content">
              {{ special.contentHtml|e('wp_kses_post') }}
            </div>
          </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% if specials|length > 1 %}
      <div data-slider-pagination class="slider-pagination"></div>
      <button data-slider-button="prev" type="button" class="slider-button slider-button--prev">
        <i data-feather="arrow-left"></i>
      </button>
      <button data-slider-button="next" type="button" class="slider-button slider-button--next">
        <i data-feather="arrow-right"></i>
      </button>
    {% endif %}
  </div>
</div>
