<div id="modal-{{ modalName }}" class="flyntComponent componentSpacing {{ options.theme }} modal" is="flynt-block-modal-content">
  <div class="container centerMaxWidthContainer">
    <div class="content content--{{ textAlignment }} centerContentMaxWidthModal">
      <div id="close-{{ modalName }}" class="close">X</div>
      {{ modalContent }}
      <p id="demo"></p>
    </div>
  </div>
</div>

